---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: '인공지능 연구 - 팀원 소개',
};
---

<Layout metadata={metadata}>
  <HeroText tagline="인공지능 연구" title="팀원 소개" />

  <Steps
    title=""
    items={[
      {
        title: '멘토: <span class="font-medium">신용제 교수님</span>',
        description:
          '스마트IT학부<br/><a href="mailto:dudujr@semyung.ac.kr" class="text-primary text-sm">dudujr@semyung.ac.kr</a>',
        icon: 'tabler:star',
      },
      {
        title: '팀원: <span class="font-medium">홍길동</span>',
        description: '',
        icon: 'tabler:user',
      },
      {
        title: '팀원: <span class="font-medium">홍길동</span>',
        description: '',
        icon: 'tabler:user',
      },
      {
        title: '팀원: <span class="font-medium">홍길동</span>',
        description: '',
        icon: 'tabler:user',
      },
    ]}
  />
</Layout>
